ul li {
  list-style-type: circle;
}

.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;

  grid-template-areas:
  "header header"
  "sidebar content";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

header {
  grid-area: header;
  background-color: #24f4a9;
  margin: 1px;
  margin-bottom: 0px;
}
header img {
  width: 70px;
  margin: 7px;
}

.sidebar {
  grid-area: sidebar;
  background-color: #24f4a9;
  margin: 1px;
  margin-right: 0px;
}

.content {
  grid-area: content;
  background-color: #24f4a9;
  margin: 1px;
}
.content-img {
  width: 140px;
  margin: 10px;
}